<aside class="sidebar-nav-wrapper">
  <div class="navbar-logo">
    <a href="/dashboard">
      <h3>{{companyName}}</h3>
    </a>
  </div>
  <nav class="sidebar-nav">
    <ul>
      <li class="nav-item">
        <a href="/dashboard">
          <span class="icon">
            <i class="fa-solid fa-chart-line"></i>
          </span>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li class="nav-item nav-item-has-children">
        <a
          href="#0"
          class="collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#ddmenu_2"
          aria-controls="ddmenu_2"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="icon">
            <i class="fa-solid fa-people-carry-box"></i>
          </span>
          <span class="text">Customer</span>
        </a>
        <ul id="ddmenu_2" class="collapse dropdown-nav">
          <li>

            <a href="/customer/addCustomer">
              <i class="fa-solid fa-plus"></i>Add
            </a>
          </li>
          <li>

            <a href="/customer/viewCustomer">
              <i class="fa-solid fa-eye"></i>View
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-item-has-children">
        <a
          href="#0"
          class="collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#ddmenu_3"
          aria-controls="ddmenu_3"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="icon">
            <i class="fa-solid fa-people-carry-box"></i>
          </span>
          <span class="text">Supplier</span>
        </a>
        <ul id="ddmenu_3" class="collapse dropdown-nav">
          <li>

            <a href="/supplier/addSupplier"><i class="fa-solid fa-plus"></i>Add
            </a>
          </li>
          <li>

            <a href="/supplier/viewSupplier"><i class="fa-solid fa-eye"></i>View
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-item-has-children">
        <a
          href="#0"
          class="collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#ddmenu_4"
          aria-controls="ddmenu_4"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="icon">
            <i class="fa-brands fa-product-hunt"></i>
          </span>
          <span class="text">Products</span>
        </a>
        <ul id="ddmenu_4" class="collapse dropdown-nav">
          <li>

            <a href="/Product/addProduct"><i class="fa-solid fa-plus"></i>Add
            </a>
          </li>
          <li>

            <a href="/Product/viewProduct"><i class="fa-solid fa-eye"></i>View
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-item-has-children">
        <a
          href="#0"
          class="collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#ddmenu_5"
          aria-controls="ddmenu_5"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="icon">
            <i class="fa-brands fa-sellsy"></i>
          </span>
          <span class="text">Sales</span>
        </a>
        <ul id="ddmenu_5" class="collapse dropdown-nav">
          <li>

            <a href="/sale/addSale"><i class="fa-solid fa-plus"></i>Add </a>
          </li>
          <li>

            <a href="/sale/viewSale"><i class="fa-solid fa-eye"></i>View </a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-item-has-children">
        <a
          href="#0"
          class="collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#ddmenu_6"
          aria-controls="ddmenu_6"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="icon">
            <i class="fa-solid fa-bag-shopping"></i>
          </span>
          <span class="text">Purchase</span>
        </a>
        <ul id="ddmenu_6" class="collapse dropdown-nav">
          <li>

            <a href="/purchase/addPurchase"><i class="fa-solid fa-plus"></i>Add
            </a>
          </li>
          <li>

            <a href="/purchase/viewPurchase"><i class="fa-solid fa-eye"></i>View
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-item-has-children">
        <a
          href="#0"
          class="collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#ddmenu_7"
          aria-controls="ddmenu_7"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="icon">
            <i class="fa-solid fa-book"></i>
          </span>
          <span class="text">Daybook</span>
        </a>
        <ul id="ddmenu_7" class="collapse dropdown-nav">
          <li>

            <a href="/income"><i class="fa-regular fa-money-bill-1"></i>Income
            </a>
          </li>
          <li>
            <a href="/expense"><i class="fa-regular fa-money-bill-1"></i>Expense
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-item-has-children">
        <a
          href="#0"
          class="collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#ddmenu_8"
          aria-controls="ddmenu_8"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="icon">
            <i class="fa-solid fa-money-bill-transfer"></i>
          </span>
          <span class="text">Payments</span>
        </a>
        <ul id="ddmenu_8" class="collapse dropdown-nav">
          <li>

            <a href="/customer/customerPayment"><i
                class="fa-solid fa-people-line"
              ></i>Customer
            </a>
          </li>
          <li>

            <a href="/supplier/supplierPayment"><i
                class="fa-solid fa-people-carry-box"
              ></i>Supplier
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-item-has-children">
        <a
          href="#0"
          class="collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#ddmenu_9"
          aria-controls="ddmenu_9"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="icon">
            <i class="fa-solid fa-list"></i>
          </span>
          <span class="text">Statements</span>
        </a>
        <ul id="ddmenu_9" class="collapse dropdown-nav">
          <li>

            <a href="/stock/stocks"><i
                class="fa-solid fa-arrow-trend-up"
              ></i>Stocks
            </a>
          </li>
          <li>

            <a href="/customer/viewCustomerPayment"><i
                class="fa-solid fa-money-check-dollar"
              ></i>Customer Payments
            </a>
          </li>
          <li>
            <a href="/supplier/viewSupplierPayment"><i
                class="fa-solid fa-money-check-dollar"
              ></i>Supplier Payments
            </a>
          </li>
          <li>

            <a href="/customer/customerCredit"><i
                class="fa-solid fa-credit-card"
              ></i>Customer Credit
            </a>
          </li>
          <li>
            <a href="/supplier/supplierCredit"><i
                class="fa-solid fa-credit-card"
              ></i>Supplier Dabit
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
<div class="overlay"></div>