<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    {{>styleLinks}}
</head>

<body>
    {{>sidebar}}
    <main class="main-wrapper">
        {{>navbar}}
        <div class="form-group">
    <div class="card">
        {{#if msg}}
      <div class="alert alert-success d-flex align-items-center" role="alert">
        <div>
          {{msg}}
        </div>
      </div>
    {{/if}}
        <h5 class="card-header">Add Product</h5>
        <div class="card-body">
            <form class="needs-validation" method='post' action="/product/addProduct">
            <div class="form-group">
                <label for="validationCustom01">Product Name</label>
                <input
                type="text"
                class="form-control"
                id="validationCustom01"
                placeholder="Product Name"
                name="productName"
                required
                />
            </div>
            <div class="form-group">
                <label for="validationCustom01">Product Category</label>
                <input
                type="text"
                class="form-control"
                id="validationCustom01"
                placeholder="Product Category"
                name="category"
                required
                />
            </div>
            <div class="form-group">
                <label for="validationCustom02">Unit</label>
                <select name="unit" id="validationCustom02" class="form-control">
                    <option value="pcs">Pcs.</option>
                    <option value="set">Set.</option>
                </select>
            </div>
            <div class="form-group">
                <label for="validationCustom02">Selling Price</label>
                <input
                type="text"
                class="form-control"
                id="validationCustom02"
                placeholder="Enter Selling Price"
                name="sellingPrice"
                required
                />
            </div>
            <div class="form-group">
                <label for="validationCustom02">Minimum Stock</label>
                <input
                type="number"
                class="form-control"
                id="validationCustom02"
                placeholder="Enter Minimum Stock Yoy Required"
                name="minimumStock"
                required
                />
            </div>
            <div class="form-group">
                <label for="validationCustom02">Supplier</label>
                <select name="supplier" id="validationCustom02" class="form-control supplier">
                <option value="-1">-------Select Supplier-------</option>
                    {{#each supplier}}
                        <option value="{{name}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label for="validationCustom02">Store Location</label>
                <input
                type="text"
                class="form-control"
                id="validationCustom02"
                placeholder="Enter Store Location"
                name="storeLocation"
                required
                />
            </div>
            <div class="form-row">
                <p class="text-right pl-1 pt-2">
                    <input type="submit" class="btn btn-space btn-success rounded" name="GST" value="Submit">
                    <a href="/dashboard" class="btn btn-space btn-danger rounded">Cancel</a>
                </p>
            </div>
            </form>
        </div>
    </div>
</div>
    </main>
    {{>jsLinks}}
    {{>animation}}
    <script src="/Select2/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.supplier').select2();
        })
    </script>
</body>

</html>