<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Supplier</title>
    {{>styleLinks}}
</head>

<body>
    {{>sidebar}}
    <main class="main-wrapper">
        {{>navbar}}
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
        {{#if msg}}
      <div class="alert alert-success d-flex align-items-center" role="alert">
        <div>
          {{msg}}
        </div>
      </div>
    {{/if}}
        <h5 class="card-header">Add Supplier</h5>
        <div class="card-body">
            <form method="post" action="/supplier/addSupplier">
                <div class="form-group">
                    <label for="inputUserName">Full Name</label>
                    <input
                    id="Full name"
                    type="text"
                    name="name"
                    required=""
                    placeholder="Enter Full name"
                    class="form-control"
                    />
                </div>
                <div class="form-group">
                    <label for="inputUserName">E-Mail</label>
                    <input
                    id="Full name"
                    type="email"
                    name="email"
                    required=""
                    placeholder="Enter E-Mail Here"
                    class="form-control"
                    />
                </div>
                <div class="form-group">
                    <label for="username">Contact No</label>
                    <input
                    id="username"
                    type="tel"
                    name="phone"
                    placeholder="Enter Contact Number"
                    required=""
                    pattern="[0-9]{10}"
                    class="form-control"
                    />
                </div>
                <div class="form-group">
                    <label for="username">GST No</label>
                    <input
                    id="username"
                    type="text"
                    name="gstno"
                    placeholder="Enter GST Number"
                    required=""
                    class="form-control"
                    />
                </div>
                <div class="form-row">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                        <label for="validationCustom03">City</label>
                        <input type="text" class="form-control" id="validationCustom03" name="city" placeholder="City" required>
                        <div class="invalid-feedback">
                        Please provide a valid city.
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                        <label for="validationCustom04">State</label>
                        <select name="state" id="validationCustom02" class="form-control state">
                            <option value="-1" selected>-----------------Select State Of Customer--------------------</option>
                            <option value="Andaman and Nicobar Isaland">Andaman and Nicobar Isaland</option>
                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                            <option value="Assam">Assam</option>
                            <option value="Bihar">Bihar</option>
                            <option value="Chandigarh">Chandigarh</option>
                            <option value="Chhattisgarh">Chhattisgarh</option>
                            <option value="Dadra and Nagar Haveli and Daman and Diu">Dadra and Nagar Haveli and Daman and Diu</option>
                            <option value="Delhi">Delhi</option>
                            <option value="Goa">Goa</option>
                            <option value="Gujarat">Gujarat</option>
                            <option value="Haryana">Haryana</option>
                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                            <option value="Jharkhand">Jharkhand</option>
                            <option value="Karnataka">Karnataka</option>
                            <option value="Kerala">Kerala</option>
                            <option value="Ladakh">Ladakh</option>
                            <option value="Lakshadweep">Lakshadweep</option>
                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                            <option value="Maharashtra">Maharashtra</option>
                            <option value="Manipur">Manipur</option>
                            <option value="Meghalaya">Meghalaya</option>
                            <option value="Mizoram">Mizoram</option>
                            <option value="Nagaland">Nagaland</option>
                            <option value="Odisha">Odisha</option>
                            <option value="Punducherry">Punducherry</option>
                            <option value="Punjab">Punjab</option>
                            <option value="Rajasthan">Rajasthan</option>
                            <option value="Sikkim">Sikkim</option>
                            <option value="Tamil Nadu">Tamil Nadu</option>
                            <option value="Telangana">Telangana</option>
                            <option value="Tripura">Tripura</option>
                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                            <option value="Uttarakhand">Uttarakhand</option>
                            <option value="West Bengal">West Bengal</option>   
                        </select>
                        <div class="invalid-feedback">
                        Please provide a valid state.
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                        <label for="validationCustom05">Landmark</label>
                        <input type="text" class="form-control" id="validationCustom05" name="landmark" placeholder="Landmark" required>
                        <div class="invalid-feedback">
                        Please provide a Landmark
                        </div>
                    </div>
                    <div class="form-row">
                        <p class="text-right pl-2 pt-3">
                            <input type="submit" class="btn btn-space btn-success rounded" name="gst" value="Submit">
                            <a href="/dashboard" class="btn btn-space btn-danger rounded">Cancel</a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    </main>
    {{>jsLinks}}
    {{>animation}}
    <script src="/Select2/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.state').select2();
        })
    </script>
</body>

</html>