<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="content-wrapper">
      <div class="page-header">
        <h2 class="page-title"> Register</h2>
      </div>
      <form class="forms-sample" action="/register" method="post">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Company Details</h4>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputUsername1">Username</label>
                    <input
                      type="text"
                      name="username"
                      class="form-control form-control-sm"
                      id="exampleInputUsername1"
                      placeholder="Username"
                    />
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input
                      type="email"
                      name="email"
                      class="form-control form-control-sm"
                      id="exampleInputEmail1"
                      placeholder="Email"
                    />
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input
                      type="password"
                      name="password"
                      class="form-control form-control-sm"
                      id="exampleInputPassword1"
                      placeholder="Password"
                    />
                  </div>
                  <div class="form-group">
                    <label for="exampleInputConfirmPassword1">Confirm Password</label>
                    <input
                      type="password"
                      name="cpassword"
                      class="form-control form-control-sm"
                      id="exampleInputConfirmPassword1"
                      placeholder="Comfirm Password"
                    />
                  </div>
                  <div class="form-group">
                    <label for="exampleInputUsername1">Phone Number</label>
                    <input
                      type="number"
                      name="phone"
                      class="form-control form-control-sm"
                      id="exampleInputUsername1"
                      placeholder="Phone Number"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputUsername1">Company Name</label>
                    <input
                      type="text"
                      name="cname"
                      class="form-control form-control-sm"
                      id="exampleInputUsername1"
                      placeholder="Company Name"
                    />
                  </div>
                  <div class="form-group">
                    <label for="exampleTextarea1">Address</label>
                    <textarea
                      class="form-control"
                      name="address"
                      id="exampleTextarea1"
                      rows="4"
                    ></textarea>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputUsername1">City</label>
                    <input
                      type="text"
                      name="city"
                      class="form-control form-control-sm"
                      id="exampleInputUsername1"
                      placeholder="City"
                    />
                  </div>
                  <div class="form-group">
                    <label for="exampleInputUsername1">State</label>
                    <select class="form-control form-control-sm" name="state">

                      <option value="Gujarat">Gujarat</option>
                      <option value="Andhra Pradesh">Andhra Pradesh</option>
                      <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                      <option value="Assam">Assam</option>
                      <option value="Bihar">Bihar</option>
                      <option value="Chhattisgarh">Chhattisgarh</option>
                      <option value="Goa">Goa</option>
                      <option value="Haryana">Haryana</option>
                      <option value="Himachal Pradesh">Himachal Pradesh</option>
                      <option value="Jharkhand">Jharkhand</option>
                      <option value="Karnataka">Karnataka</option>
                      <option value="Kerala">Kerala</option>
                      <option value="Madhya Pradesh">Madhya Pradesh</option>
                      <option value="Maharashtra">Maharashtra</option>
                      <option value="Manipur">Manipur</option>
                      <option value="Meghalaya">Meghalaya</option>
                      <option value="Mizoram">Mizoram</option>
                      <option value="Nagaland">Nagaland</option>
                      <option value="Odisha">Odisha</option>
                      <option value="Punjab">Punjab</option>
                      <option value="Rajasthan">Rajasthan</option>
                      <option value="Sikkim">Sikkim</option>
                      <option value="Tamil Nadu">Tamil Nadu</option>
                      <option value="Telangana">Telangana</option>
                      <option value="Tripura">Tripura</option>
                      <option value="Uttar Pradesh">Uttar Pradesh</option>
                      <option value="Uttarakhand">Uttarakhand</option>
                      <option value="West Bengal">West Bengal</option>

                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card mt-2">
            <div class="card-body">
              <h4 class="card-title">Legal Details</h4>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputUsername1">GST No.</label>
                    <input
                      type="text"
                      name="gst"
                      class="form-control form-control-sm"
                      id="exampleInputUsername1"
                      placeholder="GST Number"
                    />
                  </div>
                  <div class="form-group">
                    <label for="exampleInputUsername1">Bank Name</label>
                    <input
                      type="text"
                      name="bname"
                      class="form-control form-control-sm"
                      id="exampleInputUsername1"
                      placeholder="Bank Name"
                    />
                  </div>
                  <div class="form-group">
                    <label for="exampleInputUsername1">Bank A/C Number</label>
                    <input
                      type="text"
                      name="bac"
                      class="form-control form-control-sm"
                      id="exampleInputUsername1"
                      placeholder="Bank Account Number"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputUsername1">IFSC Code</label>
                    <input
                      type="text"
                      name="ifsc"
                      class="form-control form-control-sm"
                      id="exampleInputUsername1"
                      placeholder="IFSC Code"
                    />
                  </div>
                  <div class="form-group">
                    <label for="exampleInputUsername1">Branch Name</label>
                    <input
                      type="text"
                      name="branch"
                      class="form-control form-control-sm"
                      id="exampleInputUsername1"
                      placeholder="Branch Name"
                    />
                  </div>
                </div>
              </div>
              <button
                type="submit"
                class="btn btn-gradient-primary me-2"
              >Submit</button>
              <button class="btn btn-light">Cancel</button>

            </div>
          </div>
        </div>
      </form>
    </div>
    <script src="/js/vendor.bundle.base.js"></script>
    <script src="/js/off-canvas.js"></script>
    <script src="/js/hoverable-collapse.js"></script>
    <script src="/js/misc.js"></script>
  </body>

</html>